* {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw;
}

a {
    color: #000000;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.header {
    height: 96px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 350px;
    height: 50px;
}

.menu ul{
    width: 30vw;
    display: flex;
    justify-content: space-around;
    font-size: 19px;
}

.menu a {
    color: rgb(44, 44, 44);
}

.menu a:hover {
    color: #349238;
}

.menu_bar {
    display: none;
}

.index_landing {
    height: 700px;
    margin-bottom: 100px;
}

.index_landing_container {
    position: relative;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url('../images/1.jpg'); */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    color: #d6d6d6;
    opacity: 0.8;
}

.index_landing_container h2 {
    font-size: 3.5rem;
    letter-spacing: 1rem;
    margin-bottom: 15px;
}

.index_landing_container h3 {
    font-size: 30px;
    margin-bottom: 18px;
}

.index_landing_container p {
    width: 30vw;
    text-align: center;
    color: #d8d8d8;
}

.index_bg {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 700px;
    overflow: hidden;
}

.index_bg_list {
    position: relative;
    width: 10000%;
    height: 100%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
}

.index_bg_list li {
    position: relative;
    float: left;
    height: 100%;
}

#prev_btn, #next_btn {
    position: absolute;
    top: 50%;
    width: 50px;
    font-size: 2rem;
    line-height: 50px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all 150ms ease;
}

#prev_btn {
    left: 20px;
}

#next_btn {
    right: 20px;
}

#prev_btn:hover, #next_btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0;
}

.index_content {
    width: 90vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    margin-bottom: 100px;
}

.index_content div {
    max-height: 50vh;
}

.index_contact {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    border: 1px solid #d2d2d2;
}

.index_contact h4 {
    width: 83%;
    margin: 0 auto;
    border: 4px solid #349238;
    color: #349238;
    background-color: rgb(246, 246, 246);
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 0;
}

span {
    color: #777;
    font-weight: 400;
}

hr {
    width: 87%;
    border: 1px solid rgb(197, 195, 195);
}

.index_contact_1 {
    font-weight: 700;
    font-size: 28px;   
    color: #555; 
    letter-spacing: 3px;
}

.index_contact_2 {
    color: #666;
    font-size: 17px;
}

.mini_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    padding: 20px 0;
    margin-bottom: 20px;
}

.mini_nav_list {
    width: 55vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mini_nav_list li{
    font-size: 17px;
    border-right: 1px solid rgb(182, 182, 182);
    padding-right: 100px;
}

.mini_nav_list li:last-child {
    padding: 0;
}

.mini_nav_list a {
    color: #666;
}

.mini_nav_list li:last-child {
    border-right: none;
}

footer {
    width: 65vw;
    margin: auto;
    margin-bottom: 15px;
}

.footer_info1 {
    margin-bottom: 5px;
}

.footer_info1, .footer_info2 {
    display: flex;
    color: rgb(131, 131, 131);
}

.footer_info1 li, .footer_info2 li {
    height: fit-content;
    border-right: 1px solid rgb(182, 182, 182);
    padding: 0 18px;
}

.footer_info1 li:last-child, .footer_info2 li:last-child {
    border-right: none;
}

/* company1.html */

.landing {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 50px;
}

.landing.company {
    background-image: url('../images/5.jpg');
}

.landing_container {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.landing_container h3{
    font-size: 53px;
}

.landing_container p {
    font-size: 22px;
}

.contents {
    margin: 70px 0;
}

.contents_container {
    width: 70vw;
    margin: auto;
    display: grid;
    grid-template-columns: minmax(150px, 250px) 1100px;
    column-gap: 40px;
}

.menu_nav h4 {
    font-size: 25px;
    color: #666;
    text-align: center;
    padding: 18px;
    margin-bottom: 20px;
    border-bottom: 2px solid #666;   
}

.menu_nav_list li {
    text-align: center;
    margin-bottom: 12px;
    border-bottom: 1px solid rgb(182, 182, 182);
    padding-bottom: 12px;
}

.menu_nav_list li:last-child {
    border: none;
}

.menu_nav_list a{
    font-size: 17px;
    color: #666;
}

.main_content {
    min-height: 70vh;
}

.main_content h4 {
    font-size: 24px;
    color: #666;
    border-bottom: 1px solid rgb(182, 182, 182);
    padding-bottom: 12px;
    margin-bottom: 50px;
}

.company_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company_img {
    width: 1000px;
    height: 300px;
    margin: 50px 0;
}

.company_content p {
    color: #666;
    font-size: 19px;
    text-align: center;
    width: 1000px;
}

/* company2.html */

.main_location {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main_map {
    width: 1100px;
    height: auto;
    margin: 70px 0;
}

.main_location h5{
    color: #888;
    font-size: 24px;
    letter-spacing: 0.7rem;
    margin-right: 35px;
}

.main_location_list li{
    font-size: 17px;
    color: #666;
    margin-bottom: 10px;
}

.main_location_list li:last-child {
    margin: 0;
}

/* product.html */

.landing.product {
    background-image: url('../images/4.jpg');
}

.product_content h5{
    font-size: 20px;
    font-weight: 400;
    color: #555;
    margin-bottom: 20px;
}

.certi_table_row td {
    padding: 0 15px 50px;
}

.certi_table_row td:first-child {
    padding-left: 0;
}

.certi_table_row td:last-child {
    padding-right: 0;
}

.product_certi img{
    width: 530px;
    height: 790px;
    border: 0.1px solid #5b9ad5;
}

.product_certi p {
    text-align: center;
    font-size: 18px;
}

/* product2.html */

.product_desc {
    margin-bottom: 50px;
}

.product_desc h5 {
    font-size: 30px;
    font-weight: 600;
    color: #333;
}

.product_desc p {
    font-size: 17.8px;
}

.GL, .CN, .OB {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

.GL img, .OB img {
    width: 450px;
    height: auto;
}

.GL_desc h5, .CN_desc h5, .OB_desc h5 {
    font-size: 24px;
    font-weight: 700;
    color: #222;
}

.GL_desc p, .CN_desc p, .OB_desc p {
    font-size: 20px;
}

.pd_features {
    font-size: 20px;
    border-spacing: 0 30px;
    margin-bottom: 50px;
}

.pd_features_row th {
    height: 90px;
    width: 25%;
    border: 1px solid #d8d8d8;
    border-radius: 20px;
    font-size: 23px;
    margin-bottom: 100px;
}

.pd_features_row td {
    /* height: 120px; */
    padding: 0 30px;
}

.pd_principle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pd_principle h5, .installable_box h5, .install_case h5,
.install_purpose h5, .expectation h5 {
    width: 300px;
    border: 1px solid #eee;
    border-radius: 20px;
    background-color: #eee;
    font-size: 28px;
    font-weight: 700;
    color: #222;
    text-align: center;
    padding: 10px 0;
}

.pd_principle_img1 {
    width: 950px;
    height: auto;
    margin-bottom: 100px;
}

.pd_principle_img2 {
    width: 700px;
    height: auto;
    margin-bottom: 30px;
}


/* business.html */

.landing.business {
    background-image: url('../images/2.jpg');
    background-position: center 65%;
}

.install_purpose {
    margin-bottom: 120px;
}

.install_purpose h5, .expectation h5 {
    margin-bottom: 70px;
}

.install_purpose_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin-bottom: 50px;
}

.install_purpose_box img {
    width: 650px;
    height: auto;
}

.install_purpose_content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.install_purpose_content h6 {
    font-size: 29px;
    font-weight: 700;
    margin-bottom: 30px;
}

.install_purpose_content p {
    font-size: 18px;
    line-height: 150%;
}

.expectation_list {
    font-size: 22px;
}

.expectation_list li {
    position: relative;
    text-align: center;
    padding: 8px 10px;
    margin-bottom: 25px;
    width: fit-content;
    list-style-type: square;
}

.expectation_list li::after {
    position: absolute;
    left: 0;
    bottom: -5px;
    content: "";
    background-color: #349238;
    width: 0;
    height: 4px;
    transition: 0.3s;
}

.expectation_list li:hover {
    cursor: pointer;
}

.expectation_list li:hover::after {
    width: 100%;
}


/* business2 */

.installable_box {
    margin-bottom: 100px;
}

.installable_box, .install_case, .install_purpose, .expectation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.installable_box h5 {
    margin-bottom: 20px;
}

.installable {
    border-spacing: 0 30px;
}

.installable_data p {
    text-align: center;
    font-size: 18px;
}

.installable_data img {
    width: 488px;
    height: 310px;
}


/* guide.html */

.landing.guide {
    background-image: url('../images/3.jpg');
    background-position: center 74%;
}

/* guide1 - FAQ */
.accordion {
    width: 100%;
    background-color: #eee;
    color: #444;
    text-align: left;
    cursor: pointer;
    padding: 18px;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active ,.accordion:hover {
    background-color: #ccc;
}

.accordion::after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active::after {
    content: '\2796';
}

.panel {
    /* display: none; */
    max-height: 0;
    padding: 0 18px;
    background-color: #ffffff;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* guide3 */

.board {
    border: none;
    margin: 0 auto;
}

.board th {
    border-top: 1px solid #999;
    border-bottom: 1px solid #b2b2b2;
    background-color: #f1f1f4;
    color: #333;
    line-height: 20px;
    vertical-align: top;
    padding: 5px 0 6px;
}

.board td {
    padding: 8px 0 9px 8px;
    border-bottom: 1px solid #d2d2d2;
    line-height: 18px;
}

/* guide4 */
.guide_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guide_text h5 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
}

.guide_text hr {
    width: 60px;
    margin-bottom: 30px;
}

.guide_text p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 90px;
}

.inquiry_form {
    position: relative;
    width: fit-content;
    padding: 0 40px;
}

.inquiry_hint {
    position: absolute;
    right: 0;
    color: #666;
}

.inquiry_form input, #inquiry {
    display: block;
    width: 510px;
    height: 40px;
    border: 1px solid #d6d6d6;
    margin-top: 7px;
    margin-bottom: 20px;
    padding-left: 15px;
}

.inquiry_form input[type="submit"] {
    height: 50px;
    font-size: 17px;
    margin: auto;
}

.inquiry_form input[type="submit"]:hover {
    cursor: pointer;
    border-color: #349238;
}

#inquiry {
    height: auto;
    resize: none;
    width: 900px;
    height: 380px;
    padding: 15px;
    margin-bottom: 50px;
}




/* media query */
/* TABLET VERSION */

/* MOBILE VERSION */
@media screen and (max-width: 767px) {
    /* index.html */
    .logo {
        width: 280px;
        height: auto;
    }

    .menu_bar {
        display: flex;
        flex-direction: column;
    }

    .menu_bar span{
        width: 30px;
        height: 3px;
        background-color: #000000;
        margin-bottom: 4px;
    }

    .menu_bar span:last-child {
        margin-bottom: 0;
    }

    .menu_list {
        display: none;
    }
}
